<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <script src="/js/browserscript.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        {{>header}}
        <p>Book your travel</p>
        <form>
            <input id="emailID" placeholder="Email" type="text">
            </br>
            <input id="passwordID" placeholder="Password" type="password">
            </br>
            <button>Login</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>


    {{>footer}}
</body>

</html>