<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <script src="/js/moment.js" defer></script>
    <script src="/js/rateCard.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        {{>header}}
        <h2>Rate Card</h2>
    </div>

    <div id="rateCard"></div>

    {{>footer}}
</body>


</html>