<header>
    {{!-- <h1>Booking.com</h1>
    <a href="/home">Home</a>
    <a href="/bookinghistory">Booking History</a>
    <a href="/ratecard">Rate Card</a>
    <a href="/help">Help</a>
    <a href="/login">Logout</a> --}}
    <head> <link rel="stylesheet" href="/css/header.css">
       <script src="/js/header.js" defer></script>
    </head>
      <h1>Booking.com</h1>
      <p id="greeting">Hello</p>
    <nav class="horizontal-nav full-width horizontalNav-notprocessed">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/bookinghistory">Booking History</a></li>
    <li><a href="/ratecard">Rate Card</a></li>
    {{!-- <li><a href="/help">Help</a></li> --}}
    <li><a href="/login">Logout</a></li>
  </ul>
</nav>
</header>