<header>
    <h1>Travel Management</h1>
    <a href="/home">Home</a>
    <a href="/bookinghistory">Booking History</a>
    <a href="/ratecard">Rate Card</a>
    <a href="/help">Help</a>
    <a href="/login">Logout</a>
</header>